Repository thongntit/workload: changes, and which GitLab CI jobs are due for each by the changed paths.
All: Rolling Update Todo, Rolling Update Traefik

.gitlab-ci.yml:

image: docker:19.03.8

services:
  - docker:19.03.8-dind

before_script:
  - apk add -qU openssh
  - mkdir -p ~/.ssh
  - cp $SSH_CONFIG ~/.ssh/config
  - cp $SSH_KEY ~/.ssh/aws.pem
  - chmod 400 ~/.ssh/aws.pem
  - ssh-keyscan api.thongnt.space >> ~/.ssh/known_hosts
  - export DOCKER_HOST="ssh://ec2-user@api.thongnt.space"
stages:
  - particle-apply

Rolling Update Todo:
  stage: particle-apply
  script:
    - docker stack deploy --compose-file stacks/todo-app/docker-compose.yml todo

  only:
    changes:
      - stacks/todo-app/*

Rolling Update Traefik:
  stage: particle-apply
  script:
    - docker stack deploy --compose-file stacks/traefik/docker-compose.yml traefik

  only:
    changes:
      - stacks/traefik/*

Update servies first
  .gitlab-ci.yml
Due: none

Change TSL cert place
  stacks/traefik/docker-compose.yml
Due: Rolling Update Traefik

Remove echo service
  stacks/todo-app/docker-compose.yml
Due: Rolling Update Todo

Deploy Echo service
  .gitlab-ci.yml
  stacks/echo/docker-compose.yml
Due: none

:sunny: Update host name
  .gitlab-ci.yml
Due: none

:zap: update traefik host
  stacks/traefik/docker-compose.yml
Due: Rolling Update Traefik

:zap: update echo host
  stacks/echo/docker-compose.yml
Due: none

:zap: update todo-be host
  stacks/todo-app/docker-compose.yml
Due: Rolling Update Todo

:zap: update todo-be registry
  stacks/todo-app/docker-compose.yml
Due: Rolling Update Todo

:zap: add database
  entrypoint.sh
  stacks/database/docker-compose.yml
Due: none

:zap: add database
  .gitlab-ci.yml
  stacks/database/docker-compose.yml
Due: none

:zap: add database
  stacks/database/docker-compose.yml
Due: none

:zap: remove database
  entrypoint.sh
  stacks/database/docker-compose.yml
Due: none

:zap: remove database
  .gitlab-ci.yml
Due: none

[Workload] Add docker host
  .gitlab-ci.yml
Due: none

[DB] Add container
  stacks/database/docker-compose.yml
Due: none

[Workload] Add docker host
  .gitlab-ci.yml
  entrypoint.sh
  stacks/db/docker-compose.yml
Due: none

[DB] Remove db user
  stacks/db/docker-compose.yml
Due: none
